/**********************************************************************
 *  Style script for Waybar                                           *
 *                        +---------------+                           *
 *                        | 'Debian-Sway' |                           *
 *                        +---------------+                           *
 *  by: AM4D53N                                                       *
 **********************************************************************/

/**********************************************************************
 *                        General Styles                              *
 **********************************************************************/
* {
    border: none;
    border-radius: 12px;
    font-family: "FontAwesome", "Iosevka Nerd Font", sans-serif;
    font-size: 14px;
    min-height: 0;
    transition: background-color 0.2s ease, color 0.2s ease;
}

window#waybar {
    background-color: transparent;
    color: #63faff;
    transition-property: background-color;
    transition-duration: 0.5s;
    padding: 0 10px;
}

/**********************************************************************
 *                     Workspace Buttons                              *
 **********************************************************************/
#workspaces button {
    padding: 0 5px;
    background-color: #2b3f53;
    color: #63faff;
    border-bottom: 3px solid transparent;
}

#workspaces button:hover {
    background-color: #131662;
    filter: brightness(1.1);
}

#workspaces button.focused {
    background-color: #2b3f53;
    color: #63faff;
    border-bottom: 3px solid #ffbb00;
}

#workspaces button.urgent {
    background-color: #2b3f53;
    color: #63faff;
}

/**********************************************************************
 *                           Clock                                    *
 **********************************************************************/
#clock {
    padding: 0 12px;
    margin: 0 5px;
    background-color: #2b3f53;
    color: #63faff;
    font-size: 16px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

/**********************************************************************
 *                          Network                                   *
 **********************************************************************/
#network {
    padding: 0 12px;
    margin: 0 5px;
    background-color: #2b3f53;
    color: #63faff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

#network.disconnected {
    background-color: #2b3f53;
    color: #ff0000;
}

/**********************************************************************
 *                          Bluetooth                                 *
 **********************************************************************/
#bluetooth {
    padding: 0 12px;
    margin: 0 5px;
    background-color: #2b3f53;
    color: #0000ff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

#bluetooth.disabled {
    background-color: #2b3f53;
    color: #454c53;
}

/**********************************************************************
 *                           Battery                                  *
 **********************************************************************/
#battery {
    padding: 0 12px;
    margin: 0 5px;
    background-color: #2b3f53;
    color: #63faff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

#battery.charging {
    background-color: #2b3f53;
    color: #00FF00;
}

#battery.critical:not(.charging) {
    background-color: #2b3f53;
    color: #FF0000;
}

/**********************************************************************
 *                           Window                                   *
 **********************************************************************/
#window {
    padding: 0 12px;
    margin: 0 5px;
    background-color: #2b3f53;
    color: #63faff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

#window:hover {
    color: #232ab0;
}

/**********************************************************************
 *                       Custom Audio                                 *
 **********************************************************************/
#custom-audio {
    padding: 0 12px;
    margin: 0 5px;
    background-color: #2b3f53;
    color: #63faff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

#custom-audio:hover {
    background-color: #404a55;
}

/**********************************************************************
 *                       Custom Menu                                  *
 **********************************************************************/
#custom-menu {
    padding: 0 12px;
    margin: 0 5px;
    background-color: #2b3f53;
    color: #63faff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

#custom-menu:hover {
    background-color: #404a55;
}

/**********************************************************************
 *                           Memory                                   *
 **********************************************************************/
#memory {
    padding: 0 12px;
    margin: 0 5px;
    background-color: #2b3f53; 
    color: #63faff; 
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

/**********************************************************************
 *                             CPU                                    *
 **********************************************************************/
#cpu {
    padding: 0 12px;
    margin: 0 5px;
    background-color: #2b3f53;
    color: #63faff; 
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

/**********************************************************************
 *                             Tray                                   *
 **********************************************************************/
#tray {
    padding: 0 12px;
    margin: 0 5px;
    background-color: #2b3f53; 
    color: #63faff; 
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}