/*######################################################################
#   Style script for Wofi;                       		       #
#                        +---------------+                             #
#                        | 'Sway-Debian' |                             #
#                        +---------------+                             #
#                                                                      #
#   by: AM4D53N                                                        #
######################################################################*/

window {
	margin: 0px;
	border: 1px solid #131662;
	background-color: #0e103d;
}

#input {
	margin: 5px;
	border: none;
	color: #ffffff;
	background-color: #131662;
}

#inner-box,
#outer-box {
	margin: 5px;
	border: none;
	background-color: #232ab0;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: #ffffff;

#entry.activatable #text {
	color: #0e103d;
}

#entry > * {
	color: #ffffff;
}

#entry:selected {
	background-color: #fbea1e;
	transition: background-color 0.2s ease;
}

#entry:selected #text {
	font-weight: bold;
}

#entry:hover {
	background-color: #30e9cd;
	cursor: pointer;
}
